# Dependencies
node_modules/
package-lock.json

# Prisma
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/prisma/migrations/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

